@import './variables.scss';

@mixin gradientBackground($color) {
  display: inline-block;
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300%;
    height: 300%;
    background: $color;
    opacity: 0.8;
    content: '';
  }
}

@mixin ellipsis($lines: 1, $line-height: null, $force-clamp: false) {
  overflow: hidden;
  text-overflow: ellipsis;

  @if $lines==1 {
    max-width: 100%;
    white-space: nowrap;
    word-wrap: normal; // ie10 fixed
  } @else {
    $height: $line-height * $lines * 10;

    display: block;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    word-break: break-all;
    word-wrap: break-word;
    line-height: $line-height + rem;

    @if $force-clamp==true {
      height: $height + px;
    } @else {
      max-height: $height + px;
    }
  }
}

@mixin blind {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: medium;
  line-height: normal;
  white-space: nowrap;
}
